pane_frames false
layout {
	tab name="control" focus=true {
		pane split_direction="vertical" {
			pane size="20%" split_direction="horizontal" {
				pane size="30%" split_direction="vertical" {
					pane size="15%" name="Ordinator watch" {	
			  			command "taskset"
			      		args "-c" "4-8" "cargo" "watch" "-i" "\"*.xlsx\"" "-w" "scheduling_system" "-w" "shared_types" "-x" "run --bin scheduling_system -- $ORDINATOR_INPUT"
		    	  		cwd "$ORDINATOR_PATH"
		    		}
			    	pane size="3%" name="Imperium watch"{
		    	  		command "cargo"
		      			args "watch" "-w" "imperium/" "-w" "shared_types/"  "-x" "build --release --bin imperium"
		      			cwd "$ORDINATOR_PATH"
			    	}
				}
				pane name="Bottom" {
					cwd "$ORDINATOR_PATH"
					command "htop"
				}
			}
			pane focus=true size="40%" {
				command "hx"
				args "."
				cwd "$ORDINATOR_PATH"
			}
			pane size="40%" split_direction="horizontal" {
				pane split_direction="vertical" {
					pane name="Scino" {
						cwd "$ZK_NOTEBOOK_DIR"
						command "zk"
						args "daily"
					}
				}
				pane name="Imperium" cwd="$ORDINATOR_PATH"
			}
		}  
	    pane size=1 borderless=true {
	      // plugin location="status-bar"
	      // plugin location="tab-bar"
	      plugin location="compact-bar"
	    }
    }
    tab name="Auxiliary" {
    	pane split_direction="vertical" {
	    	pane name="Orchestrator" {
	    		cwd "$ORDINATOR_PATH"
	    	}
	    	pane name="Qutebrowser" {
	    		command "qutebrowser"
	    		args "&"
	    	}
			
	    	pane name="Logging" {
	    		cwd "$ORDINATOR_PATH"
	    		command "./logging/operational_logging.sh"
			}
    	}
	    pane size=1 borderless=true {
	      // plugin location="status-bar"
	      plugin location="tab-bar"
	      // plugin location="compact-bar"
	    }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
