env  {
	RUST_BACKTRACE 0;
	RUST_LOG "info"
	ORDINATOR_INPUT "scheduling_system/test_data/input-ordinator-complete-2024-04-10.xlsx" 
}

layout {
	pane split_direction="vertical" {
		pane size="20%" split_direction="horizontal" {
			pane size="30%" split_direction="vertical" {
				pane size="15%" name="Ordinator watch" {	
		  			command "cargo"
		      		args "watch" "-w" "scheduling_system" "-w" "shared_messages" "-x" "run --bin scheduling_system -- $ORDINATOR_INPUT"
	    	  		cwd "$ORDINATOR_PATH"
	    		}
		    	pane size="3%" name="Imperium watch"{
	    	  		command "cargo"
	      			args "watch" "-w" "imperium/" "-w" "shared_messages/"  "-x" "build --release --bin imperium"
	      			cwd "$ORDINATOR_PATH"
		    	}
		    	pane size="2%" name="clear logs" {
		    		command "cargo"
		    		args "watch" "-s" "./logging/clear_logging.sh" "-w" "scheduling_system"		
					cwd "$ORDINATOR_PATH"
		    	}
			}
			pane name="Bottom" borderless=true {
				cwd "$ORDINATOR_PATH"
				command "htop"
			}
		}
		pane size="30%" {
			command "helix"
			args "."
			cwd "$ORDINATOR_PATH"
		}
		pane size="50%" split_direction="horizontal" {
			pane split_direction="vertical" {
				pane name="Orchestrator" {
					cwd "$ORDINATOR_PATH"
				}
				pane name="Strategic" {
					cwd "$ORDINATOR_PATH"
				}
				pane name="Tactical" {
					cwd "$ORDINATOR_PATH"
				}
			}
			pane name="Imperium" cwd="$ORDINATOR_PATH"
		}
	}
}
