pane_frames false
layout {
	tab name="control" focus=true {
		pane split_direction="vertical" {
			pane size="20%" split_direction="horizontal" {
				pane size="20%" split_direction="vertical" {
					pane size="10%" name="Ordinator watch" {	
			  			command "taskset"
			      		args "-c" "4-8" "cargo" "watch" "-i" "\"*.xlsx\"" "-w" "scheduling_system" "-w" "data_processing" "-w" "shared_types" "-x" "build --bin scheduling_system" 
		    	  		cwd "."
		    		}
					pane size="5%" name="Ordinator watch" {	
			  			command "taskset"
			      		args "-c" "4-8" "cargo" "watch" "-i" "\"*.xlsx\"" "-w" "scheduling_system" "-w" "data_processing" "-w" "shared_types" "-x" "test --no-run"  
		    	  		cwd "."
		    		}
			    	pane size="5%" name="Imperium watch"{
		    	  		command "ls"
		      			args "imperium/**" "|" "cargo" "build" "-p" "imperium" "--release"
		      			cwd "."
			    	}
				}
				pane name="HTOP" size="30%" {
					cwd "$ORDINATOR_PATH"
					command "htop"
				}
				pane name="Scino" size="50%" {
					cwd "$ZK_NOTEBOOK_DIR"
					command "zk"
					args "daily"
				}
			}
			pane focus=true size="50%" {
				command "hx"
				args "."
				cwd "$ORDINATOR_PATH"
			}
			pane size="30%" split_direction="horizontal" {
				pane name="lldb" {
					command  "bs"
					args "target/debug/scheduling_system"
				}
				pane name="Imperium" cwd="$ORDINATOR_PATH"
			}
		}  
	    pane size=1 borderless=true {
	      // plugin location="status-bar"
	      // plugin location="tab-bar"
	      plugin location="compact-bar"
	    }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
