env  {
	RUST_BACKTRACE 0;
	RUST_LOG "debug"
	ORDINATOR_INPUT "scheduling_system/test_data/input-ordinator-complete-2024-04-10.xlsx" 
}

layout {
	tab name="control" focus=true {
		pane split_direction="vertical" {
			pane size="20%" split_direction="horizontal" {
				pane size="50%" name="Ordinator watch" {	
		  			command "cargo"
		      		args "watch" "-w" "scheduling_system" "-w" "shared_types" "-x" "run --bin scheduling_system -- $ORDINATOR_INPUT"
	    	  		cwd "$ORDINATOR_PATH"
	    		}
				pane name="Bottom" {
					cwd "$ORDINATOR_PATH"
					command "htop"
				}
			}
			pane focus=true size="80%" {
				command "hx"
				args "."
				cwd "$ORDINATOR_PATH"
			}
		}  
	    pane size=1 borderless=true {
	      plugin location="status-bar"
	    }
	    pane size=1 borderless=true {
	      plugin location="tab-bar"
	    }
    }
	tab name="notes and interaction" {
		pane name="Scino" {
			cwd "$ORDINATOR_PATH"
			command "zk"
			args "edit" "--interactive"
		}
		pane name="Imperium" cwd="$ORDINATOR_PATH"
	    pane size=1 borderless=true {
	      plugin location="status-bar"
	    }
	    pane size=1 borderless=true {
	      plugin location="tab-bar"
	    }
	}
    tab name="tracing" {
    	pane split_direction="vertical" {
	    	pane name="Orchestrator" {
	    		cwd "$ORDINATOR_PATH"
	    	}
			pane split_direction="horizontal" {
		    	pane name="Strategic" {
		    		cwd "$ORDINATOR_PATH"
		    	}
		    	pane name="Tactical" {
		    		cwd "$ORDINATOR_PATH"
		    	}
			}
			pane split_direction="horizontal" {
		    	pane name="Supervisor" {
		    		cwd "$ORDINATOR_PATH"
		    	}
		    	pane name="Operational" {
		    		cwd "$ORDINATOR_PATH"
		    	}
			}
    	}
	    pane size=1 borderless=true {
	      plugin location="status-bar"
	    }
	    pane size=1 borderless=true {
	      plugin location="tab-bar"
	    }
    }
	tab name="compilation" {
		pane name="Imperium watch"{
	  		command "cargo"
			args "watch" "-w" "imperium/" "-w" "shared_types/"  "-x" "build --release --bin imperium"
			cwd "$ORDINATOR_PATH"
		}
		pane name="clear logs" {
			command "cargo"
			args "watch" "-s" "./logging/clear_logging.sh" "-w" "scheduling_system"		
			cwd "$ORDINATOR_PATH"
		}
	    pane size=1 borderless=true {
	      plugin location="status-bar"
	    }
	    pane size=1 borderless=true {
	      plugin location="tab-bar"
	    }
	}
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
